<!DOCTYPE html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<form action="/edit_task/id={{task_id}}" method="POST">
    <table>
        <tr><th>Name</th><th>Description</th><th>Begin date</th><th>End date</th><th>All day</th></tr>
        <tr>
            <th> <input name="name" value="{{task.name}}"  class="field" /> </th>
            <th> <input name="description" value="{{task.description}}"  class="field" /> </th>
            <th> <input name="beg" value="{{task.begin_date}}"  class="field" /> </th>
            <th> <input name="end" value="{{task.end_date}}"  class="field" /> </th>
            <th> <input name="all" value="{{task.all_day}}"  class="field" /> </th>
            <input type="hidden" name="FK_user" value="{{task.FK_user}}"  class="field" />
        </tr>
    </table> <br>
    <div><input type="submit" value="Изменить " /> | <a href="/task/id={{task_id}}"> Отмена</a></div>
</form>
</body>
</html>